
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #ffffff;
}


/* Header */

#header .container{
    background: #216A21;
    width: 1310px;
}

#header .flex-box{
    display: flex;
    padding: 0px 100px;
}

#header .logo img{
    width: 304px;
    margin-top: 11px;
    margin-bottom: 11px;
}

#header .logo img:hover{
    opacity: 50%;
    transition: 0.4s;
}

#header .menu{
    display: flex;
    gap: 40px;
}

#header .menu ul{
    display: flex;
    margin-left: 70px;
    margin-top: 36px;
    gap: 35px;
}

#header .menu li{
    list-style: none;
}

#header .menu a{
    font-family: Roboto;
    font-size: 19px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
}

#header .menu a:hover{
    opacity: 50%;
    transition: 0.4s;
}

#header .menu button:hover{
    opacity: 50%;
    transition: 0.4s;
}
/* Tipografia */
.title {
    font-family: Roboto;
}

.title.one {
    font-size: 60px;
    font-weight: 700;
}

.title.two {
    font-size: 19px;
    font-weight: 300;
}


.title.three{
    font-size: 32px;
    font-weight: 700;
}

.title.four {
    font-size: 20px;
    font-weight: 500;
}

.title.five{
    font-size: 36px;
    font-weight: 700;
}

.title.six{
    font-size: 16px;
    font-weight: 300;
}

.title.seven{
    font-size: 25px;
    font-weight: 700;
}

.title.eight{
    font-size: 50px;
    font-weight: 700;
}

.title.form{
    font-size: 20px;
    font-weight: 100;
    color: black;
}

/*Grid*/



#first .container{
    padding-bottom: 35px;
    width: 1310px;
    height: 405px;
    background: url(./assets/grocery.png) no-repeat;
    margin-bottom: 70px;
}


#first .flex-box img{
    width: 1310px;
    height: 405px;
}

#first .flex-box h1 {
    padding-top: 70px;
    margin-left: 100px;
    color: #ffffff;

}

#first .flex-box a {
    margin-top: 30px;
    margin-left: 131px;
}


/* Grid */
#about .container {

    padding-bottom: 40px;
    width: 1310px;
}

#about .flex-box {
    align-items: center;
}

#about .flex-box h2{
    margin-left: 330px;
    margin-bottom: 30px;
}

#about .flex-box div{
    background: #b1cbb1;
    border-radius: 20px;
    width: 650px;
    height: 5px;
    margin-left: 330px;
}

#about .flex-box p{
    text-align: center;
    margin-top:30px;

}

/*Grid Services*/
#services .container {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 1310px;
}

#services .flex-box {
    background: #b1cbb1;
    padding-bottom: 50px;
    border-radius: 0px 200px 0px 0px;
}

#services .text-img{
    display: flex;
    align-items: center;
    gap: 80px;
}

#services .text-top h3{
    padding-top: 50px;
    margin-left: 100px;
}

#services .text-top h2{
    margin-top: 35px;
    margin-left: 100px;
}

#services .logo-right img{
    width: 486px;
    margin-top: 127px;
}

/* Grid services 2 */
#services .service-box{
    padding: 55px 100px;
    display: flex;
    gap: 27px;
}

#services .market {
    background: #ffffff;
    height: 380px;
    width: 200px;
    border-radius: 15px;
}

#services .market:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

#services .market img{
    width: 70px;
    margin: 70px 65px 40px 65px;
}

#services .market h3{
    margin: 0px 61px 20px;
}

#services .market p{
    text-align: center;
}

#services .strategy {
    background: #ffffff;
    height: 380px;
    width: 200px;
    border-radius: 15px;
}

#services .strategy:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

#services .strategy img{
    width: 70px;
    margin: 70px 65px 40px 65px;
}

#services .strategy h3{
    margin: 0px 55px 20px;
}

#services .strategy p{
    text-align: center;
}

#services .planning {
    background: #ffffff;
    height: 380px;
    width: 200px;
    border-radius: 15px;
}

#services .planning:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

#services .planning img{
    width: 70px;
    margin: 70px 65px 40px 65px;
}

#services .planning h3{
    margin: 0px 68px 20px;
}

#services .planning p{
    text-align: center;
}

#services .research {
    background: #ffffff;
    height: 380px;
    width: 200px;
    border-radius: 15px;
}

#services .research:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

#services .research img{
    width: 70px;
    margin: 70px 65px 40px 65px;
}

#services .research h3{
    margin: 0px 37px 20px;
    text-align: center;
}

#services .research p{
    text-align: center;
}

#services .remote {
    background: #ffffff;
    height: 380px;
    width: 200px;
    border-radius: 15px;
}

#services .remote:hover{
    cursor: pointer;
    box-shadow: 0 0 5px #000000;
    transition: 0.3s;
}

#services .remote img{
    width: 70px;
    margin: 70px 65px 40px 65px;
}

#services .remote h3{
    margin: 0px 16px 20px;
    text-align: center;
}

#services .remote p{
    text-align: center;
}

/* Grid Segment*/
#segment .container {
    padding: 30px 100px 50px 100px;
}

#segment .flex-box {
    display: flex;
    gap: 60px;
}


#segment .left img{
    height: 495px;
    position: absolute;
}

#segment .under-img {
    background: #b1cbb1;
    width: 495px;
    height: 495px;
    border-radius: 0px 0px 200px 0px;
    margin-left: 45px;
    margin-top: 45px;
}

#segment .right h3{
    margin-top: 85px;
    margin-bottom: 20px;
}

#segment .right .bar{
    background: #b1cbb1;
    width: 330px;
    height: 5px;
    border-radius: 30px;
    margin-bottom: 30px;
}

#segment .right p{
    margin-bottom: 45px;
}

/* Grid Execution */

#execution .container {
    background: #b1cbb1;
    border-radius: 0px 0px 200px 0px;
    width: 1310px;
    margin-bottom: 60px;

}

#execution .flex-box {
    display: flex;
}

#execution .left{
    margin: 105px 195px;
}

#execution .middle{
    margin-top: 60px;
}

#execution .middle h2{
    color: #b1cbb1;
    text-shadow: 0 0 3.5px #000000;
    margin-bottom: 16px;
}

#execution .right{
    margin-left: 30px;
    margin-top: 76px;
}

#execution .right p{
    margin-bottom: 47px;
}

/* Grid Contact*/

#contact .container{
    background: url(./assets/grocery-fruit.png) no-repeat;
    width: 1310px;
    height: 540px;
    margin-bottom: 60px;
}

#contact .flex-box{
    display: flex;
}
#contact .left{
    padding-top: 188px;
    padding-left: 100px;
}

#contact .left h1{
    color: #ffffff;
}

#contact .right{
    padding-top: 123px;
    margin-left: 40px;
}

#contact .name-email{
    display: flex;
    gap: 22px;
    margin-bottom: 40px;
}

#contact .name-email input{
    width: 272px;
    height: 38px;
    padding: 0px 10px ;
    border-radius: 20px;
}

#contact .phone-segment{
    display: flex;
    gap: 22px;
    margin-bottom: 40px;
}

#contact .phone-segment input{
    width: 272px;
    height: 38px;
    padding: 0px 10px ;
    border-radius: 20px;
}

#contact .message{
    display: flex;
    margin-bottom: 40px;
}

#contact .message input{
    width: 565px;
    height: 70px;
    padding: 0px 10px ;
    border-radius: 20px;
}

/* Footer */

#footer .container {
    background: #216A21;
    width: 1310px;
}

#footer .flex-box{
    display: flex;
    padding: 0px 100px;
    gap: 160px;
}

#footer .left {
    margin-top: 50px;
}

#footer .left .logo img{
    width: 150px;
    margin-left: 17px;
}

#footer .left .social{
    display: flex;
    gap: 8px;
    margin-top: 10px;
}

#footer .left .social img{
    width: 38px;
}

#footer .left .social img:hover{
    opacity: 50%;
    transition: 0.4s;
}

#footer .middle{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#footer .middle h2{
    color: #ffffff;
    margin-bottom: 30px;
}

#footer .middle a{
    margin-bottom: 15px;
    text-decoration: none;
    font-family: roboto;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

#footer .middle a:hover{
    opacity: 50%;
    transition: 0.4s;
}

#footer .right{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ffffff;
}

#footer .right p{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
}

#footer .copy{
    color: #ffffff;
    margin-left: 553px;
    margin-top: 65px;
}

/*Buttons*/
#header .menubtn{
    cursor: pointer;
    background: transparent;
    border: none;
}


.contact-btn1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    background: #216A21;
    height: 56px;
    width: 220px;
    border-radius: 45px 5px;  
    transition: 0.4s;
}

.contact-btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    background: #216A21;
    height:46px;
    width: 415px;
    border-radius: 45px 5px;  
    transition: 0.4s;
}

.contact-btn1:hover{
    background: #b1cbb1;
    border-color: #b1cbb1;
}

.contact-btn2:hover{
    background: #b1cbb1;
    border-color: #b1cbb1;
}

#contact button{
    background-color: #216A21; 
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 565px;
    height: 44px;
    border-radius: 20px;
    border-color: #b1cbb1;
    transition: 0.4s;
}

#contact button:hover{
    cursor: pointer;
    background: #b1cbb1;
    border-color: #216A21;
}

@media (max-width:750px){
   body{
    width: 750px;
   }
}