* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background-color: #ffffff;
}


/* Header */

#header {
    background: #216A21
}



/*Global Padding*/
.pad70-top{
    padding-top: 70px;
}






/* Tipografia */
.title {
    font-family: Roboto;
}

.title.one {
    font-size: 60px;
    font-weight: 700;
}

.title.two {
    font-size: 19px;
    font-weight: 300;
}


.title.three{
    font-size: 32px;
    font-weight: 700;
}

.title.four {
    font-size: 20px;
    font-weight: 500;
}

.title.five{
    font-size: 36px;
    font-weight: 700;
}

.title.six{
    font-size: 16px;
    font-weight: 300;
}

.title.seven{
    font-size: 25px;
    font-weight: 700;
}

.title.eight{
    font-size: 50px;
    font-weight: 700;
}

.title.form{
    font-size: 20px;
    font-weight: 100;
    color: black;
}

/*Grid*/
#first .container{
    padding-bottom: 35px;
}
#first .flex-box {
    display: flex;
    box-align: center;
}

#first .flex-box h1 {
    position: absolute;
    margin-top: 75px;
    margin-left: 100px;
    color: #ffffff;

}

#first .flex-box a {
    position: absolute;
    margin-top: 315px;
    margin-left: 131px;
}

#about .container {
    display: flex;
    padding-top: 35px;
}

#about .flex-box {
    display: flex;
    align-items: center;
}

#about .flex-box h2{
    position: absolute;
    margin-left: 323px;
    padding-bottom: 30px;
}

#about .flex-box div{
    position: absolute;
    background: #b1cbb1;
    border-radius: 20px;
    width: 650px;
    height: 5px;
    margin-left: 330px;

}

#about .flex-box p{
    position: absolute;
    padding-top: ;
    margin-left: 323px;
    text-align: center;
    padding-bottom: 75px;

}

#services .container {
    padding-top: 75px;
}

/*Buttons*/
#header .menubtn{
    cursor: pointer;
    background: transparent;
    border: none;
}


.contact-btn1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    background: #216A21;
    height: 56px;
    width: 220px;
    border-radius: 45px 5px;  
}

.contact-btn2{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    font-size: 19px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff; 
    background: #216A21;
    height:46px;
    width: 415px;
    border-radius: 45px 5px;  
}

.contact-btn1:hover{
    background: #b1cbb1;
    border-color: #b1cbb1;
}

.contact-btn2:hover{
    background: #b1cbb1;
    border-color: #b1cbb1;
}
